In [ ]:
#Import Python Packages
#from google.colab import drive
#drive.mount('/content/drive/')

from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
#!cp /content/plot_confusion_matrix.py /content/drive/My\ Drive/CIS508

import pandas as pd
import numpy as np
from sklearn.metrics import f1_score, make_scorer
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix,classification_report

In [ ]:
#Read training data file
trainfile = r'/gdrive/My Drive/ASU/Santander Customer Satisfaction - TRAIN.csv'
trainData = pd.read_csv(trainfile)

#Read test data file
testfile = r'/gdrive/My Drive/ASU/Santander Customer Satisfaction - TEST-Without TARGET.csv'
testData = pd.read_csv(testfile)

trainData.head()
#print("=======")
testData.head()

   ID  var3  var15  ...  saldo_medio_var44_ult1  saldo_medio_var44_ult3      var38
0   2     2     32  ...                     0.0                     0.0   40532.10
1   5     2     35  ...                     0.0                     0.0   45486.72
2   6     2     23  ...                     0.0                     0.0   46993.95
3   7     2     24  ...                     0.0                     0.0  187898.61
4   9     2     23  ...                     0.0                     0.0   73649.73

[5 rows x 370 columns]

In [ ]:
print(trainData)

In [ ]:
trainData.describe()

In [ ]:
print(trainData.shape)
print(testData.shape)

In [ ]:
#Copy Train data excluding target
trainData_Copy = trainData.iloc[:, :-1].copy()
testData_Copy = testData.iloc[:, :-1].copy()

In [ ]:
#Combine Train and test to make the equal no of columns in each dataset
combined_Data = pd.concat([trainData_Copy, testData_Copy], keys=[0,1])


#Separate Train data and test data
X_Train = combined_Data.xs(0)
X_Test = combined_Data.xs(1)

X_Test.head()

   ID  var3  var15  ...  saldo_medio_var44_ult1  saldo_medio_var44_ult3  var38
0   2     2     32  ...                     0.0                     0.0    NaN
1   5     2     35  ...                     0.0                     0.0    NaN
2   6     2     23  ...                     0.0                     0.0    NaN
3   7     2     24  ...                     0.0                     0.0    NaN
4   9     2     23  ...                     0.0                     0.0    NaN

[5 rows x 370 columns]

In [ ]:
#Select just Target Column
Y_Train = trainData.iloc[:, -1]
Y_Test = testData.iloc[:, -1]
Y_Test.head()

0     40532.10
1     45486.72
2     46993.95
3    187898.61
4     73649.73
Name: var38, dtype: float64

In [ ]:
#Select just Target Column
Y_Train = trainData.iloc[:, -1]
Y_Test = testData.iloc[:, -1]

#Create Decision Tree Classifier
# set parameters in the classifier
clf=DecisionTreeClassifier(min_samples_split=3,random_state=10, max_depth=11, max_features=250 )
#Apply Classifier on Train and Target
clf.fit(X_Train,Y_Train)

#Get Class Prediction as a data frame with header as Prediction
pred_train=pd.DataFrame(clf.predict(X_Train),columns=["Prediction"])

pred_train.head()

   Prediction
0           0
1           0
2           0
3           0
4           0

In [ ]:
clf

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=11, max_features=250, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=3,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=10, splitter='best')

In [ ]:
scores=cross_val_score(clf,X_Train, Y_Train,cv=5,scoring='f1_macro')
scores.mean()

0.3502607669669754

In [ ]:
print('tr f1 score', f1_score(train_predictions,Y_Train))

tr f1 score 1.0

In [ ]:
#Get Class Prediction probabilities as a data frame 
#Get Prediction Probability for the predicted class as a dataframe
pred_train_Probability =pd.DataFrame(clf.predict_proba(X_Train))

pred_train_Probability.head()

          0         1
0  0.963684  0.036316
1  0.900000  0.100000
2  0.998207  0.001793
3  0.962112  0.037888
4  0.985375  0.014625

In [ ]:
#Write into a file with actual prediction and corresponding probability
pd.concat([pred_train,pred_train_Probability],axis=1).to_csv("/gdrive/My Drive/ASU/results.csv", index = None)

res=pd.read_csv('/gdrive/My Drive/ASU/results.csv')
res.head()

   Prediction         0         1
0           0  0.963684  0.036316
1           0  0.900000  0.100000
2           0  0.998207  0.001793
3           0  0.962112  0.037888
4           0  0.985375  0.014625

In [ ]:
#Print Classification Report
print(classification_report(Y_Train,pred_train))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     73012
           1       0.84      0.11      0.20      3008

    accuracy                           0.96     76020
   macro avg       0.90      0.56      0.59     76020
weighted avg       0.96      0.96      0.95     76020

In [ ]:
#Replaced NaN values with the mean of the same cloumn
X_Test = X_Test[np.logical_not(np.isnan(X_Test))]
X_Test=X_Test.fillna(X_Test.mean())
X_Test = np.nan_to_num(X_Test.astype(np.float32))

In [ ]:
print(X_Train.shape)
print(X_Test.shape)

(76020, 370)
(75818, 370)

In [ ]:
#Testset prediction======================================================================
#Get Class Prediction as a data frame with header as Prediction
pred=pd.DataFrame(clf.predict(X_Test),columns=["Prediction"])

pred.head()

   Prediction
0           0
1           0
2           0
3           0
4           0

In [ ]:
#Get Class Prediction probabilities as a data frame 
#Get Prediction Probability for the predicted class as a dataframe
pred_Probability =pd.DataFrame(clf.predict_proba(X_Test))

pred_Probability.head()

          0         1
0  0.966710  0.033290
1  0.966710  0.033290
2  0.998207  0.001793
3  0.500000  0.500000
4  0.998207  0.001793

In [ ]:
#Write into a file with actual prediction and corresponding probability
pd.concat([pred,pred_Probability],axis=1).to_csv("/gdrive/My Drive/ASU/Test_results.csv", index = None)

res=pd.read_csv('/gdrive/My Drive/ASU/Test_results.csv')
res.head()

   Prediction         0         1
0           0  0.966710  0.033290
1           0  0.966710  0.033290
2           0  0.998207  0.001793
3           0  0.500000  0.500000
4           0  0.998207  0.001793